.container {
  width: 80%;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 1rem;

}

.bi {
  color: white;
  font-size: 5rem;
}

.winner1-flag {
  position: relative;
  bottom: 12rem;
  right: 20rem;
}

.winner2-flag {
  position: relative;
  bottom: 13rem;
  left: 20rem;
}

body {
  background-color: #010000;
}

h1 {
  margin: 80px auto 30px auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: white
  ;
}

p {
  font-size: 1rem;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}

img {
  width: 80%;
}

footer {
  color: #be0f0f;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
position: fixed;
top: 95%;
left: 40%;
}

@media only screen and (max-width: 900px) {
  
  .container {
    margin: auto;
    text-align: center;
  }
  
  img {
    width: 60%;
  }

  .dice {
    text-align: center;
    display: inline-block;
  
  }

  .bi {
    color: white;
    font-size: 3rem;
  }

  .winner1-flag {
    position: relative;
    bottom: 9rem;
    right: 17rem;
  }
  
  .winner2-flag {
    position: relative;
    bottom: 10rem;
    left: 17rem;
  }


footer {
  position: fixed;
top: 95%;
left: 35%;
}
  
  
}

@media only screen and (max-width: 740px) {

  .container {
    margin: auto;
    text-align: center;
  }

  h1 {
    margin: 40px auto 15px auto;
    font-size: 1.5rem;
  }

  img {
    width: 50%;
  }

  .dice {
    text-align: center;
    display: inline-block;
  
  }

  .bi {
    color: white;
    font-size: 3rem;
  }

  .winner1-flag {
    position: relative;
    bottom: 23rem;
    right: 7rem;
  }
  
  .winner2-flag {
    position: relative;
bottom: 8rem;
    left: 7rem;
  }

  footer {
    position: fixed;
  top: 95%;
  left: 25%;
  }

}